<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="db.properties" />
	<typeAliases>
		<typeAlias type="blueup.admin.vo.ProductVo" alias="productvo"/>
		<typeAlias type="blueup.admin.vo.ProductVo" alias="stockvo"/>
		<typeAlias type="blueup.user.vo.CartVo" alias="cartvo"/>
		<typeAlias type="blueup.user.vo.Terms_and_conditionVo" alias="termsvo"/>
		<typeAlias type="blueup.user.vo.NoticeVo" alias="noticevo"/>
		<typeAlias type="blueup.user.vo.QnaVo" alias="qnavo"/>
		<typeAlias type="blueup.user.vo.Category_detailVo" alias="cateDetailvo"/>
		<typeAlias type="blueup.user.vo.CategoryVo" alias="categoryvo"/>
		<typeAlias type="blueup.user.paging.Criteria" alias="cri"  />
		<typeAlias type="blueup.user.vo.WishListVo" alias="wishvo" />
		<typeAlias type="blueup.user.vo.OrderVo" alias="ordervo"  />
		<typeAlias type="blueup.user.vo.UsersVo" alias="userVo"  />
		<typeAlias type="blueup.user.vo.CartOptionVo" alias="cartoptionvo" />
		<typeAlias type="blueup.user.vo.CouponVo" alias="couponVo"  />
		<typeAlias type="blueup.user.vo.PointVo" alias="pointVo"  />
	</typeAliases>
	<mappers>
		<mapper resource="mappings/product-mapping.xml" />
		<mapper resource="mappings/stock-mapping.xml" />
		<mapper resource="mappings/cart-mapping.xml" />
		<mapper resource="mappings/terms-mapping.xml" />			
		<mapper resource="mappings/notice-mapping.xml" />
		<mapper resource="mappings/qna-mapping.xml" />
		<mapper resource="mappings/category-mapping.xml" />
		<mapper resource="mappings/wish-mapping.xml" />
		<mapper resource="mappings/orderlist-mapping.xml" />
		<mapper resource="mappings/userInfo-mapping.xml" />
		<mapper resource="mappings/cartoption-mapping.xml" />
		<mapper resource="mappings/loginjoin-mapping.xml"/>
		<mapper resource="mappings/coupon-mapping.xml" />
		<mapper resource="mappings/point-mapping.xml" />
	</mappers>
</configuration>