@charset "utf-8";

@import
	url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap")
	; 
/* <폰트 설정> */
@import
	url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;800&display=swap')
	;
@import url("top.css");/*상단영역*/
@import url("bottom.css");/*하단영역*/
#wishpage_wrap {
	height: 45px;
	width: 100%;
	padding: 100px;
	margin: 0 auto;
	border-bottom: 1px solid #cccccc;
	color: #aaaaaa;
	min-width: 1920px;
}
.wishbtn{

  right:10%; top:50%;
  transform:translate(0, -50%);
  width:300px;
  height:40px;
  z-index:30;
  cursor:pointer;
  color: #ffffff;
  background:rgb(58, 58, 58);
  font-size: 14px;
  font-weight: bold;
}
.wishaddbt{

  right:10%; top:50%;
  transform:translate(0, -50%);
  width:300px;
  height:40px;
  z-index:30;
  cursor:pointer;
  color: rgb(0, 0, 0);
  background:#ffffff;
  font-size: 14px;
  font-weight: bold;
}
.walldel{
  right:10%; top:50%;
  transform:translate(0, -50%);
  width:150px;
  height:35px;
  z-index:30;
  cursor:pointer;
  color: #ffffff;
  background:rgb(58, 58, 58);
  font-size: 14px;
  font-weight: bold;
  
}
.wish1{
	padding:20px 0 20px 1290px;
	
}
.wish2{
	padding:0 10px 0 0 10px;
	
}

/* .whis { width : 300px;
	height: 600px;
	float: left;
	text-align: center;
	margin-right: 59px;
	position: relative;
	box-sizing: border-box;
	overflow: hidden;
	cursor: pointer;
} */

/*//////////////wish틀/////////////////*/
#wi_wrap {
	width: 1920px;
	height: 100%;
	margin: 0 auto;
}

#wish_wrap {
	width: 1600px;
	margin: 100px auto 0 auto;
}

.wishes {
	width: 1400px;
	height: 715px;
}

.wishes>h3 { /*아이템라인*/
	width: 1415px;
	padding-bottom: 30px;
	border-bottom: 2px solid #333333;
	margin-bottom: 63px;
}

.wish_con {
	height: 402px;
	margin-left: 0px;
	padding-left: 50px;
	padding-bottom : 20px;
}
/*각 item공통*/

.wish { width : 300px;
	height: 450px;
	float: left;
	text-align: center;
	margin-right: 59px;
	position: relative;
	box-sizing: border-box;
	overflow: hidden;
	cursor: pointer;
}

.wish:last-child {
	margin-right: 0;
}

/*item 이미지 공통*/
.wish_img {
	width: 300px;
	height: 300px;
}
/* 마우스오버시 나타날 이미지, 텍스트*/
.wish_hover>img {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.5s linear;
}

.wish_hover>p {
	position: absolute;
	top: 270px;
	left: 0;
	opacity: 0;
	width: 300px;
	height: 30px;
	text-align: right;
	padding: 0 20px;
	box-sizing: border-box;
	line-height: 30px;
	background: rgba(0, 0, 0, 0.8);
	color: #ffffff;
	transition: opacity 0.3s linear;
	z-index: 10;
}


/*각 item 마우스 오버시*/
.wish:hover {
	opacity: 1;
	box-sizing: border-box;
	border: 1px solid #333333;
}

.wish:hover .wish_hover>p {
	opacity: 1;
}

.wish:hover .wish_hover>img {
	opacity: 1;
}

.wish:hover .wish_hover>p {
	opacity: 1;
}
/*wish 제품명*/
.wish>p:nth-of-type(1) {
	clear: both;
	font-size: 14px;
	font-weight: bold;
	color: #1c079d;
	margin-top: 15px; 
}

.wish>p:nth-of-type(2) {
	font-weight: bold;
}
/* 도전용 */
body {
	font: normal 16px/1.5em "Noto Sans KR", sans-serif;
	color: #333333;
}

h2 {
	font: normal 90px/1.5em "Nanum Myeongjo", serif;
}

h3 {
	font: bold 40px/1.5em "Nanum Myeongjo", serif;
	letter-spacing: -1px;
	color: #333333;
}

.sup {
	font-size: 10px;
}

/*//////메인배너/////*/
#banner {
	width: 1920px;
	height: 480px;
	margin: 0 auto;
	position: relative;
}
/*이미지 위 색상박스 씌우기*/
#banner>p::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 1920px;
	height: 480px;
	background-color: rgba(0, 37, 35, 0.7);
}
/*배너내용*/
#ban_con {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #ffffff;
	margin: 0 auto;
}

#ban_con>h2 {
	margin-bottom: 20px;
}

#ban_con>p {
	font-size: 20px;
}

/*////페이지////*/
/*페이지 전체*/
#page_wrap {
	height: 45px;
	width: 100%;
	margin: 0 auto;
	border-bottom: 1px solid #cccccc;
	color: #aaaaaa;
	min-width: 1920px;
}

#page {
	width: 1200px;
	height: 45px;
	margin: 0 auto;
}

/*페이지위치 오른쪽*/
#r_page {
	float: right;
	font-size: 14px;
	height: 45px;
	line-height: 45px;
}

#r_page>li {
	display: inline-block;
	margin-right: 7px;
}

#r_page>li:last-child {
	color: #111111;
}
